<h1>Welcome!</h1>
<p>Welcome to the Magnifinance Univesity management view!</p>
<p>
  Browse the lists above to see our courses, subjects, students and teachers
</p>
<p>This app was made using</p>
<ul>
  <li>
    <a href="https://get.asp.net/">ASP.NET Core</a> and
    <a href="https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx">C#</a> for
    cross-platform server-side code
  </li>
  <li>
    <a href="https://angular.io/">Angular</a> and
    <a href="http://www.typescriptlang.org/">TypeScript</a> for client-side code
  </li>
  <li>
    <a href="https://material.angular.io/">material.angular</a> for layout and
    styling
  </li>
</ul>
